{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- ======= Appointment Section ======= -->
<section class="appointment section-bg mt-5" id="appointment">

    <div class="container mt-4">

        <div class="section-title">
              {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <div class="alert alert-primary " role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </ul>
                {% endif %}

            <h2>Make an Appointment</h2>

             <div class="d-flex justify-content-between">

                  <p> Total Patients : {{count}} </p>

                <a class="appointment-btn scrollto" href="{% url 'home' %}">
                        <span class="d-none d-md-inline"> Back to Home </span> </a>
             </div>
        </div>

        <form action="{% url 'storePatient' %}" class="php-email-form" method="POST">
            {% csrf_token %}
            <div class="row">

                <div class="col-md-6 form-group">
                    <input class="form-control" data-msg="Please enter at least 4 chars" name="name"
                           placeholder="Your Name" type="text">
                </div>

                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input class="form-control" data-msg="Please enter a valid email"
                           placeholder="Your Email (Optional)">
                </div>

            </div>

            <div class="row">

                <div class="col-md-6 form-group mt-3 ">
                    <input class="form-control" data-msg="Please enter at least 4 chars" name="mobile"
                           placeholder="Your Phone" type="number">
                </div>

                <div class="col-md-6 form-group mt-3">
                    <input class="form-control " name="gender" placeholder="Gender" type="text">
                </div>

            </div>
            <div class="row">

                <div class="col-md-6 form-group mt-3 ">
                    <input class="form-control" data-msg="Please enter at least 4 chars" name="weight"
                           placeholder="Your Weight" type="number">
                </div>

                <div class="col-md-6 form-group mt-3">
                    <input class="form-control " name="age" placeholder="Age" type="number">
                </div>

            </div>

            <div class="row">

                <div class="col-md-6 form-group mt-3">

                    <select class="form-control bg-light" name="services">
                        <option value="empty"> Select Department</option>
                        {% for service in services %}
                        <option value="{{ service.id }}">{{service.id}}-{{service.services}}</option>
                        {% endfor %}
                    </select>

                </div>

                <div class="col-md-6 form-group mt-3">
                    <input class="form-control " name="address" placeholder="Address" type="text">
                </div>

            </div>

            <div class="form-group mt-3">
                <textarea class="form-control" name="message" placeholder="Message (Optional)" rows="3"></textarea>
            </div>

            <div class="text-center mt-3">
                <button class="btn btn-primary me-2 " type="Submit">Submit</button>
            </div>

        </form>

    </div>
</section><!-- End Appointment Section -->

{% endblock%}