{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="mt-4">
    <section class="doctors mt-6">
        <div class="container">

            <div class="section-title">
                <h2>Doctors </h2>
                <p>

                </p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img alt="" class="img-fluid" src="{% static 'img/doctors/doctors-1.jpg' %}">
                        </div>
                        <div class="member-info">
                            <h4>Walter White</h4>
                            <span>Chief Medical Officer</span>
                            <p></p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img alt="" class="img-fluid" src="{% static 'img/doctors/doctors-2.jpg' %}">
                        </div>
                        <div class="member-info">
                            <h4>Arya Stark</h4>
                            <span>Anesthesiologist</span>
                            <p></p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img alt="" class="img-fluid" src="{% static 'img/doctors/doctors-3.jpg' %}">
                        </div>
                        <div class="member-info">
                            <h4>Jhon Snow</h4>
                            <span>Cardiology</span>
                            <p></p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img alt="" class="img-fluid" src="{% static 'img/doctors/doctors-4.jpg' %}">
                        </div>
                        <div class="member-info">
                            <h4> Cersei Lannister</h4>
                            <span>Neurosurgeon</span>
                            <p></p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Doctors Section -->

</section>
<!-- Template Main JS File -->
{% endblock%}